.invite {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: white;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  height: 100%;
  padding: 0 15px;
}

.header {
  display: flex;
  flex-direction: column;
  letter-spacing: 10px;
  font-size: 6rem;
  line-height: 95px;
  font-weight: 500;
  white-space: nowrap;
  font-family: "Great Vibes", cursive;
  text-shadow: 15px 15px 1px rgba(224, 168, 168, 0.1);
  color: #d4a373;
  margin-top: 3rem;
}

.text {
  font-size: 2rem;
  width: 80%;
  line-height: 44px;
  color: #555;
  font-family: "Great Vibes", cursive;
}

.date {
  font-size: 2.1rem;
  font-family: "Great Vibes", cursive;

  color: #d4a373;
}

.time {
  font-size: 2.3rem;
  font-family: "Great Vibes", cursive;
  color: #d4a373;
}

.calendar {
  background: #fcf8f5;
  padding: 1rem;
  width: 350px;
  margin-bottom: 10px;
  border-radius: 10%;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3rem;
}

.day,
.emptyDay {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.day {
  position: relative;
  font-size: 1rem;

  &:hover {
	background: #f1f3f5;
  }
}

.emptyDay {
  visibility: hidden;
}

.activeDay {
  color: #d4a373;
  font-weight: bold;

  .heart {
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	animation: pulse 1.5s infinite;
  }

  .dayNumber {
	position: relative;
	z-index: 1;
  }
}

@keyframes pulse {
  0% {
	transform: scale(1);
  }
  50% {
	transform: scale(1.2);
  }
  100% {
	transform: scale(1);
  }
}

.halfBorder {
  height: 1px;
  width: 90%;
  margin: 50px auto;
  background: linear-gradient(to right, transparent, #1f1a1a, transparent);
  opacity: 0.6;
  border-radius: 50%;
}

@media (min-width: 1920px) {
  .invite {
	gap: 20px;
  }
  .header {
	margin-bottom: 25px;
	font-size: 6rem;
	line-height: 85px;
  }
  .text {
	width: 60%;
	line-height: 75px;
	font-size: 2.6rem;
  }
  .date,
  .time {
	font-size: 2.8rem;
  }
  .calendar {
	width: 550px;
  }
  .weekdays {
	font-size: 1.4rem;
  }

  .day {
	font-size: 1.4rem;
  }
}

@media (max-width: 1920px) {
  .invite {
	gap: 15px;
  }
  .text {
	width: 55%;
	line-height: 50px;
	font-size: 2.3rem;
  }
  .header {
	margin-bottom: 10px;
	font-size: 5.5rem;
	line-height: 85px;
  }
  .date,
  .time {
	font-size: 2.6rem;
  }
  .calendar {
	width: 380px;
  }
  .weekdays {
	font-size: 1.3rem;
  }

  .day {
	font-size: 1.3rem;
  }
}

@media (max-width: 1600px) {
  .invite {
	gap: 15px;
  }
  .header {
	margin-top: 25px;
	font-size: 5.3rem;
	line-height: 85px;
	margin-bottom: 5px;
  }
  .text {
	width: 60%;
	line-height: 45px;
	font-size: 2.3rem;
  }
  .date,
  .time {
	font-size: 2.5rem;
  }
  .calendar {
	width: 300px;
  }
  .weekdays {
	font-size: 1.1rem;
  }

  .day {
	font-size: 1.1rem;
  }
}

@media (max-width: 1440px) {
  .header {
	margin-top: 20px;
	//font-size: 5rem;
	line-height: 85px;
	margin-bottom: 0px;
  }
  .text {
	width: 60%;
	line-height: 43px;
	font-size: 2.1rem;
  }

  .date,
  .time {
	font-size: 2.3rem;
  }

  .calendar {
	width: 310px;
  }
  .weekdays {
	font-size: 1.2rem;
  }
  .day {
	font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .header {
	margin-top: 20px;
	font-size: 5.1rem;
	line-height: 85px;
	margin-bottom: 0px;
  }
  .text {
	width: 80%;
	font-size: 2.2rem;
	line-height: 40px;
  }

  .date,
  .time {
	font-size: 2.7rem;
  }

  .calendar {
	width: 300px;
  }
  .weekdays {
	font-size: 1.2rem;
  }
  .day {
	font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .invite {
	gap: 10px;
  }
  .header {
	font-size: 4.6rem;
	line-height: 70px;
	margin-bottom: 10px;
  }

  .text {
	width: 85%;
	font-size: 2.2rem;
  }

  .date,
  .time {
	font-size: 2.4rem;
  }

  .calendar {
	width: 300px;
  }
  .day {
	font-size: 1.2rem;
  }
}

@media (max-width: 451px) {
  .invite {
	gap: 19px;

  }
  .header {
	line-height: 50px;
	font-size: 3.8rem;
	margin: 20px 0 5px;
	white-space: normal;
	word-break: break-word;
  }

  .text {
	font-size: 2.2rem;
	width: 85%;
	text-align: center;
  }

  .date,
  .time {
	font-size: 2.6rem;
  }

  .calendar {
	width: 280px;
  }

  .day {
	font-size: 1.2rem;
  }
}

@media (max-width: 376px) {
  .invite {
	gap: 17px;
  }
  .header {
	font-size: 5rem;
	margin: 20px 0 5px;
	white-space: normal;
	word-break: break-word;
	letter-spacing: 13px;
  }
  .text {
	font-size: 2.4rem;
	width: 92%;
	text-align: center;
  }
  .date,
  .time {
	font-size: 2.8rem;
  }
  .day {
	font-size: 1.4rem;
  }
}

@media (max-width: 323px) {
  .header {
	font-size: 4.7rem;
	line-height: 40px;
  }
  .text {
	font-size: 2.5rem;
	line-height: 40px;
	width: 90%;
	text-align: center;
  }
  .date,
  .time {
	font-size: 3rem;
  }
  .calendar {
	width: 260px;
  }
  .day {
	font-size: 1.3rem;
  }
}
