@keyframes heartbeat {
  0%,
  100% {
	transform: scale(1);
  }
  50% {
	transform: scale(1.1);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;

  &::before {
	content: "";
	position: absolute;
	inset: 0;
	background: url("@assets/backPhoto.jpg") no-repeat center center / cover;
	z-index: 1;
	display: none;
  }
}

.averageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 39%;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 100px 15px 40px 15px;
  gap: 100px;

  &__title {
	display: flex;
	flex-direction: column;
	letter-spacing: 10px;
	font-size: 6.5rem;
	line-height: 70%;
	font-weight: 500;
	white-space: nowrap;
	font-family: "Great Vibes", cursive;
	text-shadow: 15px 15px 1px rgba(224, 168, 168, 0.1);
	color: #d4a373;
	margin-bottom: 50px;

	span {
	  font-family: "Montserrat", sans-serif;
	  font-size: 2rem;
	  margin-top: 5px;
	  letter-spacing: 2px;
	  color: #d4a373;
	}
  }

  .date {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.4rem;
	font-family: "Great Vibes", cursive;
	margin-bottom: 30px;

	&::before,
	&::after {
	  content: "❤️";
	  display: block;
	  font-size: 90%;
	  margin: 0 10px auto;
	  color: #e077ac;
	  animation: heartbeat 2s infinite; /* Длительность анимации увеличена */
	}
  }

  .downArrow {
	width: 50px;
	height: 50px;
	cursor: pointer;
  }
}

.leftContainer,
.rightContainer {
  width: 30%;
  height: 100%;
}

.image {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

@media (min-width: 1680px) {
  .averageContainer {
	gap: 150px;
  }
}

@media (max-width: 1680px) {
  .averageContainer {
	gap: 120px;
  }
}

@media (max-width: 1200px) {
  .averageContainer {
	.downArrow {
	  width: 45px;
	  height: 45px;
	}
  }
}

@media (max-width: 1100px) {
  .averageContainer {
	gap: 100px;

	&__title {
	  line-height: 66px;
	}

	.downArrow {
	  width: 40px;
	  height: 40px;
	}
  }
}

@media (max-width: 950px) {
  .averageContainer {
	&__title {
	  font-size: 6rem;
	}

	.date {
	  font-size: 2.4rem;
	}
  }
}

@media (max-width: 768px) {
  .container {
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&::before {
	  display: block;
	}
  }

  .leftContainer,
  .rightContainer {
	display: none;
  }

  .averageContainer {
	width: 100%;
	padding: 100px 20px;
	justify-content: flex-end;
	gap: 15px;

	&__title {
	  display: flex;
	  align-items: center;
	  letter-spacing: 10px;
	  line-height: 55px;
	  color: white;

	  span {
		color: white;
	  }
	}

	.date {
	  color: white;
	}

	.downArrow {
	  margin-top: 50px;
	  width: 45px;
	  height: 45px;

	}
  }
}

@media (max-width: 576px) {
  .averageContainer {
	.downArrow {
	  //margin-top: 50px;
	  width: 40px;
	  height: 40px;

	}
  }
}

@media (max-width: 376px) {
  .averageContainer {
	gap: 40px;

	.date {
	  display: none;
	}

	.downArrow {
	  margin-top: 80px;
	}
  }
}
