.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;

  .titleEn,
  .titleRu {
	letter-spacing: 0.5rem;
	font-weight: 500;
	white-space: nowrap;
	font-family: "Great Vibes", cursive;
	text-shadow: 10px 10px 1px rgba(224, 168, 168, 0.1);
	text-align: center;
	color: #d4a373;
  }

  .titleEn {
	font-size: 4rem;
  }

  .titleRu {
	font-size: 3.1rem;
	margin-bottom: 4rem;
  }

  .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4rem;

	.icon,
	.icons {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  width: 65px;
	  height: 65px;
	  margin-bottom: 0.6rem;
	}

	.time {
	  margin-top: 5px;
	  font-size: 2rem;
	  line-height: 40px;
	  font-weight: bold;
	  font-family: "Great Vibes", cursive;
	  text-shadow: 10px 10px 1px rgba(224, 168, 168, 0.1);
	}

	.text {
	  font-size: 2.1rem;
	  font-family: "Great Vibes", cursive;
	  text-shadow: 10px 10px 1px rgba(224, 168, 168, 0.1);
	}
  }


  @media (max-width: 1024px) {
	.titleEn {
	  font-size: 3.9rem;
	}
	.titleRu {
	  font-size: 3rem;
	}
	.item {
	  .icon,
	  .icons {
		width: 60px;
		height: 60px;
	  }

	  .time,
	  .text {
		font-size: 2rem;
	  }
	}
  }

  @media (max-width: 768px) {
	.titleEn {
	  font-size: 3.6rem;
	  white-space: normal;
	  word-break: break-word;
	}
	.titleRu {
	  font-size: 2.8rem;
	}
	.item {
	  .icon,
	  .icons {
		width: 60px;
		height: 60px;
	  }

	  .time,
	  .text {
		line-height: 35px;
		font-size: 1.9rem;
	  }
	}
  }

  @media (max-width: 451px) {
	.titleEn {
	  font-size: 3.2rem;
	  white-space: normal;
	  word-break: break-word;

	  font-weight: 500;
	  width: 90%;
	}
	.titleRu {
	  font-size: 2.7rem;
	  margin-bottom: 50px;
	}
	.item {

	  .icon,
	  .icons {
		width: 60px;
		height: 60px;
	  }

	  .time,
	  .text {
		font-size: 1.9rem;
	  }
	}
  }

  @media (max-width: 375px) {
	.titleEn {
	  font-size: 3.7rem;
	}
	.titleRu {
	  font-size: 2.8rem;
	}
	.item {
	  margin-bottom: 4rem;

	  .icon,
	  .icons {
		width: 60px;
		height: 60px;
	  }

	  .time,
	  .text {
		font-size: 2.2rem;
	  }
	}
  }

  @media (max-width: 321px) {
	.titleEn {
	  font-size: 3.3rem;
	}
	.titleRu {
	  font-size: 2.8rem;
	}
	.item {
	  gap: 3px;
	  margin-bottom: 6rem;

	  .icon,
	  .icons {
		width: 55px;
		height: 55px;
	  }

	  .time,
	  .text {
		line-height: 30px;
		font-size: 2.3rem;
	  }
	}
  }
}

.halfBorder {
  height: 1px;
  width: 90%;
  margin: 50px auto;
  background: linear-gradient(to right, transparent, #1f1a1a, transparent);
  opacity: 0.6;
  border-radius: 50%;
}
